---rw on {{ schename }} for {{ username }}
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA {{schemaname}} TO {{username}};
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA {{schemaname}} TO {{username}};
GRANT ALL PRIVILEGES ON ALL FUNCTIONS IN SCHEMA {{schemaname}} TO {{username}};
{% if changedefaults %}
---Change defaults for schema {{schemaname}}
ALTER DEFAULT PRIVILEGES IN SCHEMA {{schemaname}} GRANT ALL PRIVILEGES ON TABLES TO {{username}};
ALTER DEFAULT PRIVILEGES IN SCHEMA {{schemaname}} GRANT ALL PRIVILEGES ON SEQUENCES TO {{username}};
ALTER DEFAULT PRIVILEGES IN SCHEMA {{schemaname}} GRANT ALL PRIVILEGES ON FUNCTIONS TO {{username}};
{% endif %}
